.networkGraph {
  overflow: hidden;
}

.zoomIndicator {
  font-size: 12px;
}

.networkGrapTooltip {
  position: fixed;
  text-align: left;
  padding: 2px 5px;
  font: 12px sans-serif;
  max-width: 300px;
  background: #555;
  color: #fff;
  border: 0;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
}